.btn--default.theme__colors {
  background-color: #00FFF7; }

.btn--success.theme__colors {
  background-color: #03CB08; }

.btn--error.theme__colors {
  background-color: #FF5733; }

.btn--warning.theme__colors {
  background-color: #E46F10; }

.btn--info.theme__colors {
  background-color: #9652A8; }

.btn--default.theme__colors[type="submit"] {
  border: 0;
  border-radius: 4px;
  text-transform: uppercase;
  width: 100%;
  margin: 8% 0 0 0;
  padding: 4% 6% 4% 4%; }

.btn--default.theme__colors,
.btn--warning,
.btn--info,
.btn--error,
.btn--success {
  border: 0;
  border-radius: 4px;
  text-transform: uppercase;
  width: 100%;
  color: white;
  margin-top: 6%;
  padding: 4.5% 0 0.5% 0; }

.form {
  margin: 0 auto; }

.form__label--hidden {
  display: none; }

.form__input {
  width: 90%;
  border-bottom: solid #4AF2B5;
  padding: 2% 0 2.5% 2.5%;
  border-width: 0 0 5px 0;
  display: block;
  margin: auto;
  font-weight: bold; }

.form__input::placeholder {
  color: #4b4b4b; }

.grid__row {
  width: 100%;
  height: 10%;
  clear: both;
  margin-top: 8.5%;
  margin-bottom: 2.5%; }

.grid__col--12 {
  width: 100%; }

.grid__col--3.theme__colors {
  width: 100%; }

.grid__col--6 {
  width: 100%; }

.grid__col--4.theme__colors {
  width: 100%; }

.grid__col--8.theme__colors {
  width: 100%; }

.grid__col--7.theme__colors {
  width: 100%; }

.grid__col--5.theme__colors {
  width: 100%; }

.grid__col--3,
.grid__col--8.theme__colors,
.grid__col--7,
.grid__col--12.theme__colors,
.grid__col--6.theme__colors,
.grid__col--4.theme__colors,
.grid__col--5 {
  text-align: center;
  padding: 4.5% 0 0.5% 0;
  border-radius: 4px;
  margin: 9px 0px; }

.grid__col--8 {
  width: 80%; }

.grid__col--12.theme__colors {
  background-color: #4AF2B5; }

.grid__col--6.theme__colors {
  background-color: #198AAF; }

.grid__col--5.theme__colors {
  background-color: #5BDE65; }

.grid__col--3.theme__colors {
  background-color: #EBAFFF; }

.grid__col--4.theme__colors {
  background-color: #1BF9FF; }

.grid__col--8.theme__colors {
  background-color: #FF926F; }

.grid__col--7.theme__colors {
  background-color: #FF8282; }

.img--logo {
  padding-bottom: 20px; }

.img--frame {
  padding: 12.5px;
  border: solid 0.5px black;
  display: block;
  margin: auto;
  width: 100%; }

.img--avatar {
  padding: 12.5px;
  border: 0.5px  solid white;
  display: block;
  margin: auto; }

.nav__item {
  margin: 5px;
  list-style: none;
  text-align: center;
  padding-inline-end: 50%;
  opacity: 2;
  transition-property: opacity, background, box-shadow;
  transition-duration: .5s;
  transition-delay: 0.5s, .1s; }
  .nav__item a:hover {
    color: aliceblue; }

.nav__item:hover {
  background-color: #00bcd4;
  box-shadow: 0 0 0 3px #cfd8dc; }

.container {
  width: 80%;
  padding-bottom: 5%;
  padding-top: 5%;
  margin: 0 auto; }

.headline--secondary {
  color: #646464; }

.form .headline--secondary {
  color: #646464;
  width: 95%;
  display: block;
  margin: auto; }

.blockquote {
  border-left: 8px solid #4AF2B5;
  border-radius: 5px;
  padding-left: 20px;
  font-size: 1.7em; }

.link {
  color: #00FFF7; }

.headline--primary {
  color: #4AF2B5;
  padding-left: 8%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif; }

.headline--secondary {
  font-weight: normal; }

.blockquote {
  -left: 8%; }

.card .headline--secondary {
  padding-left: 6%; }

p {
  padding-left: 6%; }

/*# sourceMappingURL=style.css.map */
