
$color-error     :#FF5733;
$color-info      :#9652A8;
$color-Default   :#00FFF7;
$color-success   :#03CB08;
$color-warning   :#E46F10;


$color-12:#4AF2B5;
$color-6:#198AAF;
$color-4:#1BF9FF;
$color-3:#EBAFFF;
$color-5:#5BDE65;
$color-7:#FF8282;
$color-8:#FF926F;
