
$color-error     :#FF5733;
$color-info      :#9652A8;
$color-Default   :#89D4FF;
$color-success   :#03CB08;
$color-warning   :#E46F10;


$color-12:#0EFAA9;
$color-6:#198AAF;
$color-4:#1BF9FF;
$color-3:#ECB3FF;
$color-5:#ECB3FF;
$color-7:#FF8282;
$color-8:#FF926F;
