.img--logo{
    padding-bottom: 20px;
}


.img--frame{
    padding: 12.5px;
    border: solid 0.5px black;
  display:block;
margin:auto;
width: 100%;

}
.img--avatar{
    padding: 12.5px;
    border:  0.5px  solid white;
    display:block;
    margin:auto;
    
}