.container{
    width: 80%;
    padding-bottom: 5%;
    padding-top: 5%;
    margin: 0 auto;
}
.headline--secondary{
    color: rgb(100, 100, 100)
}
.form .headline--secondary{
    color: rgb(100, 100, 100);
    width: 95%;
    display:block;
    margin:auto;
}
.blockquote{
    border-left: 8px solid $color-12;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 1.7em;
}
.link{
    color: $color-Default
}
.headline--primary{
    color:$color-12;
    padding-left: 8%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}
.headline--secondary{
    font-weight: normal 
}
.blockquote{
    -left: 8%
}

.card .headline--secondary{
    padding-left: 6%
}